#startpage{
width:800px;
margin:0px auto;
color:white;
}
.container{
width:800px;
margin-top:15px;
background:#DBCAB9;
overflow:hidden;
}
h3
{
color:white;
text-align:center;
margin-top:8px;
font-weight:bold;
}
.progress.progress-striped.active{
}
#loading{
height:100px;
margin-top:0px;
width:250px;
padding-top:210px;
margin:auto;
text-align:center;
}
header{
width:800px;

text-align:center;
color:white;
font-size: 24px;
font-weight:bold;
}
footer{
width:800px;
height:60px;
margin:0px auto;
}
#title{
height:50px;
}
.navbar{
margin-bottom:0px;
}
.jumbotron{
background:transparent;
}
section#game
{
width:800px;
height:465px;
margin:0px auto;
background-image:url("../images/bg.jpg");
background-repeat:no-repeat;
border:0px solid black;
border-radius:0px;
}
article#level1
{
position:absolute;
left:565px;
margin:253px auto;
}
article#level2
{
position:absolute;
left:650px;
margin:253px auto;
}
#d2
{
position:absolute;
top:394px;
left:980px;
animation-name:bounce;
animation-duration:5s;
animation-iteration-count:10;
}
#d1
{
position:absolute;
left:320px;
top:398px;
animation-name:bounce;
animation-duration:5s;
animation-iteration-count:8;
}
#d3
{
position:absolute;
left:528px;
top:384px;
animation-name:bounce;
animation-duration:5s;
animation-iteration-count:5;
}
#d4
{position:absolute;
left:628px;
top:411px;
}
#d5
{position:absolute;
left:880px;
top:367px;
}
#d6
{position:absolute;
left:780px;
top:406px;
animation-name:bounce;
animation-duration:5s;
animation-delay:1s;
animation-iteration-count:8;
}
#d7
{
position:absolute;
left:438px;
top:409px;
animation-name:bounce;
animation-duration:5s;
animation-iteration-count:5;
}
/*page1.css*/
#page1{
margin:0px auto;
padding:0px 10px;
width:800px;
}
section#game1
{
height:465px;
margin:0px auto;
border-radius:0px;
color:red;
}
h2
{
color:white;
text-align:center;
}
div#a1
{
background-image:url("../images/red.png");
width:90px;
height:50px;
background-size:80%;
background-repeat: no-repeat;
cursor: pointer;
position:absolute;
left:923px;
top:140px;
}
#music{
float:left;
}
#music img{
width:31px;
height:38px;
cursor: pointer;
}
div#img1
{
height:220px;
}
#img1 #imge1{
margin-top:122px;
position:relative;
}
div#b
{
width:294px;
height:130px;
margin-left:337px;
background-size:100%;
margin-top:-97px;
background-repeat:no-repeat;
}
#img2 div{
cursor: pointer;
}
#characters img{
cursor: pointer;
}
div#c2
{
float:left;
margin-top:10px;
}
footer
{
text-align:center;
}
div#l0
{
width:100px;
height:150px;
float:left;
}
img#l0
{
margin-top:20px;
}
#img3 div img{
margin-top:20px;
}
div#l1
{
width:100px;
height:150px;
float:left;
border-bottom:2px solid red;
margin-left:60px;
}
div#l2
{
width:100px;
height:150px;
float:left;
border-bottom:2px solid red;
margin-left:30px;
}
div#l3
{
width:100px;
height:150px;
float:left;
border-bottom:2px solid red;
margin-left:30px;
}
div#l4
{
width:100px;
height:150px;
border-bottom:2px solid red;
margin-left:30px;
float:left;
}
section#img3
{
margin-bottom:0px;
}
span#s1{
color:#BA4646;
}
/*page2*/
#page2{
width:800px;
margin:0px auto;
padding:0px 10px;
}
article#ar1{
height:206px;
margin-top:px;
}
hr{
margin-top:-20px;
}
#img2 img{
position:absolute;
}
#r3{
top:380px;
left:313px;
right:100px;
}
#b1{
top:380px;
left:401px;
}
#r1{
top:380px;
left:489px;
}
#b2{
top:380px;
left:572px;
}
#y3{
top:380px;
left:652px;
}
#r2{
top:380px;
left:744px;
}
#g1{
top:380px;
left:835px;
}
#g2{

top:380px;
left:928px;
}
#y1{
top:454px;
left:313px;
}
#g3{
top:454px;
left:401px;
}
#b3{
top:454px;
left:489px;
}
#y2{
top:454px;
left:572px;
}
#b4{
top:454px;
left:652px;
}
#r4{
top:454px;
left:744px;
}
#g4{
top:454px;
left:835px;
}
#y4{
top:454px;
left:928px;
}
/*page3*/
#page3{
width:800px;
margin:0px auto;
padding:0px 10px;
}
#characters img{
position:absolute;
}
#al1{
top:294px;
left:312px;
right:100px;
}
#al2{
top:294px;
left:401px;
}
#al3{
top:294px;
left:489px;
}
#al4{
top:294px;
left:572px;
}
#al5{
top:294px;
left:652px;
}
#al6{
top:294px;
left:744px;
}
#al7{
top:294px;
left:835px;
}
#al8{
top:294px;
left:928px;
}
#al9{
top:409px;
left:313px;
}
#al10{
top:409px;
left:401px;
}
#al11{
top:409px;
left:489px;
}
#al12{
top:409px;
left:572px;
}
#al13{
top:409px;
left:652px;
}
#al14{
top:409px;
left:744px;
}
#al15{
top:409px;
left:835px;
}
#al16{
top:409px;
left:928px;
}
/*page4*/
div#a2
{
background-image:url("../images/a2.jpeg");
width:90px;
height:50px;
background-size:80%;
background-repeat: no-repeat;
position:absolute;
left:850px;
top:80px;
}
section#game2
{
width:800px;
height:465px;
margin:0 auto;
border:3px solid blue;
background-color:white;
border-radius:20px;
color:blue;
}
article#img2{
margin-top:10px;
}
div#foot{
float:right;
margin-top:20px;
margin-right:10px;
}
div#right{
margin-right:10px;
font-size:15px;
}
div#wrong{
font-size:15px;
}
div#home{
float:left;
font-size:15px;
margin-top:10px;
margin-left:20px;
}
.time{
float:left;
margin-left:237px;
width:224px;
height:60px;
color:white;
}
.textDiv_Minutes h4{
font-weight:bold;
color:white;
font-size:20px;
text-align:center;
 }
.textDiv_Seconds h4{
font-weight:bold;
color:white;
font-size:20px;
 }
